In [1]:
import pandas as pd

df = pd.read_excel('/Users/jugalmarfatia/Documents/fall 2018/google_trends_stocks/Google-trends-stock-data/data/dow-jones-industrial-average-components.xls', header=2)

In [2]:
dji_list = df['Ticker Symbol'].dropna().unique()

In [3]:
dji_list

array(['MMM', 'AXP', 'AAPL', 'CAT', 'CVX', 'CSCO', 'DWDP', 'XOM', 'INTC',
       'IBM', 'JNJ', 'JPM', 'MCD', 'MRK', 'MSFT', 'NKE', 'PFE', 'BA',
       'KO', 'GS', 'HD', 'PG', 'TRV', 'DIS', 'UTX', 'UNH', 'VZ', 'V',
       'WBA', 'WMT'], dtype=object)

In [4]:
dji_gt_data = pd.DataFrame()

for i in dji_list:
    df1 = pd.read_csv('/Users/jugalmarfatia/Documents/fall 2018/google_trends_stocks/Google-trends-stock-data/data/google_trends/weekly/' + str(i) + '_gt.csv')
    dji_gt_data = dji_gt_data.append(df1)

dji_gt_data

     Unnamed: 0                 date  gt_index  isPartial stock_symbol
0             0  2013-09-29 00:00:00         8      False          MMM
1             1  2013-10-06 00:00:00         9      False          MMM
2             2  2013-10-13 00:00:00        13      False          MMM
3             3  2013-10-20 00:00:00        19      False          MMM
4             4  2013-10-27 00:00:00        16      False          MMM
5             5  2013-11-03 00:00:00        12      False          MMM
6             6  2013-11-10 00:00:00        14      False          MMM
7             7  2013-11-17 00:00:00        19      False          MMM
8             8  2013-11-24 00:00:00        11      False          MMM
9             9  2013-12-01 00:00:00        18      False          MMM
10           10  2013-12-08 00:00:00        17      False          MMM
11           11  2013-12-15 00:00:00        18      False          MMM
12           12  2013-12-22 00:00:00        12      False          MMM
13           13  2013-12-29 00:00:00        10      False          MMM
14           14  2014-01-05 00:00:00        17      False          MMM
15           15  2014-01-12 00:00:00        15      False          MMM
16           16  2014-01-19 00:00:00        14      False          MMM
17           17  2014-01-26 00:00:00        19      False          MMM
18           18  2014-02-02 00:00:00        15      False          MMM
19           19  2014-02-09 00:00:00        10      False          MMM
20           20  2014-02-16 00:00:00        14      False          MMM
21           21  2014-02-23 00:00:00        16      False          MMM
22           22  2014-03-02 00:00:00        12      False          MMM
23           23  2014-03-09 00:00:00        18      False          MMM
24           24  2014-03-16 00:00:00        11      False          MMM
25           25  2014-03-23 00:00:00         7      False          MMM
26           26  2014-03-30 00:00:00        14      False          MMM
27           27  2014-04-06 00:00:00        14      False          MMM
28           28  2014-04-13 00:00:00        13      False          MMM
29           29  2014-04-20 00:00:00        12      False          MMM
..          ...                  ...       ...        ...          ...
231         231  2018-03-04 00:00:00        50      False          WMT
232         232  2018-03-11 00:00:00        44      False          WMT
233         233  2018-03-18 00:00:00        38      False          WMT
234         234  2018-03-25 00:00:00        36      False          WMT
235         235  2018-04-01 00:00:00        42      False          WMT
236         236  2018-04-08 00:00:00        34      False          WMT
237         237  2018-04-15 00:00:00        30      False          WMT
238         238  2018-04-22 00:00:00        28      False          WMT
239         239  2018-04-29 00:00:00        28      False          WMT
240         240  2018-05-06 00:00:00        43      False          WMT
241         241  2018-05-13 00:00:00        64      False          WMT
242         242  2018-05-20 00:00:00        38      False          WMT
243         243  2018-05-27 00:00:00        28      False          WMT
244         244  2018-06-03 00:00:00        33      False          WMT
245         245  2018-06-10 00:00:00        28      False          WMT
246         246  2018-06-17 00:00:00        24      False          WMT
247         247  2018-06-24 00:00:00        27      False          WMT
248         248  2018-07-01 00:00:00        20      False          WMT
249         249  2018-07-08 00:00:00        27      False          WMT
250         250  2018-07-15 00:00:00        31      False          WMT
251         251  2018-07-22 00:00:00        24      False          WMT
252         252  2018-07-29 00:00:00        26      False          WMT
253         253  2018-08-05 00:00:00        26      False          WMT
254         254  2018-08-12 00:00:00        65      False          WMT
255         255  2018-08-19 00:00:00        43      False          WMT
256         256  2018-08-26 00:00:00        32      False          WMT
257         257  2018-09-02 00:00:00        26      False          WMT
258         258  2018-09-09 00:00:00        28      False          WMT
259         259  2018-09-16 00:00:00        23      False          WMT
260         260  2018-09-23 00:00:00        17       True          WMT

[7830 rows x 5 columns]

In [6]:
dji_gt_data['date'] = pd.to_datetime(dji_gt_data['date'])
dji_gt_data['day_of_week'] = dji_gt_data['date'].dt.weekday_name

In [8]:
dji_gt_data['m_date'] = pd.to_datetime(dji_gt_data['date']).apply(pd.DateOffset(1))

In [9]:
dji_gt_data = dji_gt_data[['gt_index', 'stock_symbol', 'date', 'm_date']]

In [12]:
dji_gt_data = dji_gt_data.set_index(['stock_symbol', 'm_date'])

                         gt_index       date
stock_symbol m_date
MMM          2013-09-30         8 2013-09-29
             2013-10-07         9 2013-10-06
             2013-10-14        13 2013-10-13
             2013-10-21        19 2013-10-20
             2013-10-28        16 2013-10-27
             2013-11-04        12 2013-11-03
             2013-11-11        14 2013-11-10
             2013-11-18        19 2013-11-17
             2013-11-25        11 2013-11-24
             2013-12-02        18 2013-12-01
             2013-12-09        17 2013-12-08
             2013-12-16        18 2013-12-15
             2013-12-23        12 2013-12-22
             2013-12-30        10 2013-12-29
             2014-01-06        17 2014-01-05
             2014-01-13        15 2014-01-12
             2014-01-20        14 2014-01-19
             2014-01-27        19 2014-01-26
             2014-02-03        15 2014-02-02
             2014-02-10        10 2014-02-09
             2014-02-17        14 2014-02-16
             2014-02-24        16 2014-02-23
             2014-03-03        12 2014-03-02
             2014-03-10        18 2014-03-09
             2014-03-17        11 2014-03-16
             2014-03-24         7 2014-03-23
             2014-03-31        14 2014-03-30
             2014-04-07        14 2014-04-06
             2014-04-14        13 2014-04-13
             2014-04-21        12 2014-04-20
...                           ...        ...
WMT          2018-03-05        50 2018-03-04
             2018-03-12        44 2018-03-11
             2018-03-19        38 2018-03-18
             2018-03-26        36 2018-03-25
             2018-04-02        42 2018-04-01
             2018-04-09        34 2018-04-08
             2018-04-16        30 2018-04-15
             2018-04-23        28 2018-04-22
             2018-04-30        28 2018-04-29
             2018-05-07        43 2018-05-06
             2018-05-14        64 2018-05-13
             2018-05-21        38 2018-05-20
             2018-05-28        28 2018-05-27
             2018-06-04        33 2018-06-03
             2018-06-11        28 2018-06-10
             2018-06-18        24 2018-06-17
             2018-06-25        27 2018-06-24
             2018-07-02        20 2018-07-01
             2018-07-09        27 2018-07-08
             2018-07-16        31 2018-07-15
             2018-07-23        24 2018-07-22
             2018-07-30        26 2018-07-29
             2018-08-06        26 2018-08-05
             2018-08-13        65 2018-08-12
             2018-08-20        43 2018-08-19
             2018-08-27        32 2018-08-26
             2018-09-03        26 2018-09-02
             2018-09-10        28 2018-09-09
             2018-09-17        23 2018-09-16
             2018-09-24        17 2018-09-23

[7830 rows x 2 columns]

In [15]:
dji_stock_data = pd.DataFrame()

for i in dji_list:
    df1 = pd.read_csv('/Users/jugalmarfatia/Documents/fall 2018/google_trends_stocks/Google-trends-stock-data/data/stock_prices/' + str(i) + '_price.csv')
    dji_stock_data = dji_stock_data.append(df1)

dji_stock_data

,Date,Open,High,Low,Close,Adj Close,Volume,stock
0,2013-01-02,94.190002,94.790001,93.959999,94.779999,82.296341,3206700,MMM
1,2013-01-03,94.339996,94.930000,94.129997,94.669998,82.200836,2704600,MMM
2,2013-01-04,94.790001,95.480003,94.540001,95.370003,82.808632,2704900,MMM
3,2013-01-07,95.019997,95.730003,94.760002,95.489998,82.912849,2745800,MMM
4,2013-01-08,95.169998,95.750000,95.099998,95.500000,82.921501,2655500,MMM
5,2013-01-09,95.870003,96.739998,95.709999,96.410004,83.711662,2359700,MMM
6,2013-01-10,96.709999,96.989998,96.330002,96.889999,84.128433,2600600,MMM
7,2013-01-11,95.839996,96.660004,95.209999,96.279999,83.598770,2923900,MMM
8,2013-01-14,96.400002,97.389999,96.099998,97.080002,84.293404,2592500,MMM
9,2013-01-15,96.830002,97.400002,96.570000,97.290001,84.475746,2106400,MMM
10,2013-01-16,97.000000,97.699997,96.919998,97.599998,84.744919,2092300,MMM
11,2013-01-17,97.790001,98.500000,97.510002,98.080002,85.161690,2803900,MMM
12,2013-01-18,98.419998,98.800003,98.040001,98.739998,85.734756,3187900,MMM
13,2013-01-22,98.389999,99.330002,98.099998,99.330002,86.247063,3215200,MMM
14,2013-01-23,98.970001,99.699997,98.809998,99.489998,86.385994,3579300,MMM
15,2013-01-24,99.379997,99.820000,98.800003,99.669998,86.542259,3816300,MMM
16,2013-01-25,99.790001,100.870003,99.580002,100.589996,87.341080,4237800,MMM
17,2013-01-28,100.980003,100.980003,100.269997,100.650002,87.393188,2964900,MMM
18,2013-01-29,100.330002,101.870003,100.059998,101.809998,88.400406,3530700,MMM
19,2013-01-30,101.800003,101.949997,100.690002,100.800003,87.523430,2822800,MMM
20,2013-01-31,100.690002,100.949997,100.070000,100.550003,87.306366,3763100,MMM
21,2013-02-01,101.440002,101.989998,101.160004,101.559998,88.183319,3853600,MMM
22,2013-02-04,100.769997,101.209999,100.580002,100.769997,87.497383,1987600,MMM
23,2013-02-05,101.309998,101.919998,101.250000,101.489998,88.122566,2833100,MMM
24,2013-02-06,101.129997,102.989998,101.080002,102.690002,89.164505,3510600,MMM
25,2013-02-07,102.650002,102.739998,101.459999,102.220001,88.756393,2277600,MMM
26,2013-02-08,102.339996,103.330002,102.040001,102.660004,89.138466,1937800,MMM
27,2013-02-11,102.389999,102.879997,102.040001,102.620003,89.103714,1715500,MMM
28,2013-02-12,102.660004,103.589996,102.629997,103.459999,89.833076,1928000,MMM
29,2013-02-13,103.029999,103.389999,102.580002,102.860001,89.863647,1699900,MMM
...,...,...,...,...,...,...,...,...
1414,2018-08-14,89.639999,91.120003,89.629997,90.849998,90.849998,5836800,WMT
1415,2018-08-15,90.250000,90.410004,89.669998,90.220001,90.220001,8616900,WMT
1416,2018-08-16,100.110001,100.209999,97.910004,98.639999,98.639999,42631300,WMT
1417,2018-08-17,97.769997,99.669998,97.610001,97.849998,97.849998,16463300,WMT
1418,2018-08-20,97.669998,98.290001,95.949997,96.000000,96.000000,12679300,WMT
1419,2018-08-21,95.959999,96.360001,95.360001,96.080002,96.080002,10531300,WMT
1420,2018-08-22,96.199997,96.849998,95.230003,95.669998,95.669998,7765700,WMT
1421,2018-08-23,95.500000,95.860001,95.059998,95.180000,95.180000,6096400,WMT
1422,2018-08-24,95.089996,95.660004,94.349998,94.949997,94.949997,8594300,WMT
1423,2018-08-27,95.260002,95.610001,94.290001,94.540001,94.540001,7040300,WMT
1424,2018-08-28,94.769997,96.349998,94.529999,96.070000,96.070000,9983000,WMT
1425,2018-08-29,96.279999,96.830002,95.529999,95.639999,95.639999,7862800,WMT
1426,2018-08-30,95.500000,96.500000,95.449997,96.099998,96.099998,7058700,WMT
1427,2018-08-31,96.190002,96.440002,95.110001,95.860001,95.860001,6324700,WMT
1428,2018-09-04,95.800003,96.269997,95.239998,95.360001,95.360001,8280700,WMT
1429,2018-09-05,95.669998,96.830002,95.360001,96.620003,96.620003,9474600,WMT
1430,2018-09-06,96.529999,96.720001,96.010002,96.449997,96.449997,6150800,WMT
1431,2018-09-07,95.800003,96.480003,95.639999,95.830002,95.830002,6672400,WMT
1432,2018-09-10,96.110001,97.190002,96.089996,96.900002,96.900002,8332600,WMT
1433,2018-09-11,97.269997,97.660004,96.489998,96.639999,96.639999,6463500,WMT
1434,2018-09-12,96.260002,96.739998,95.930000,95.970001,95.970001,5900000,WMT
1435,2018-09-13,95.320000,95.620003,94.910004,95.120003,95.120003,7652900,WMT
1436,2018-09-14,94.529999,94.839996,94.349998,94.589996,94.589996,6319400,WMT
1437,2018-09-17,94.750000,95.480003,94.370003,94.820000,94.820000,5329800,WMT
1438,2018-09-18,94.459999,95.589996,94.150002,95.430000,95.430000,6759800,WMT
1439,2018-09-19,95.570000,95.889999,94.879997,95.239998,95.239998,5675100,WMT
1440,2018-09-20,95.349998,95.790001,94.949997,95.750000,95.750000,5552300,WMT
1441,2018-09-21,95.919998,96.290001,95.629997,95.900002,95.900002,9530100,WMT
1442,2018-09-24,95.440002,96.000000,94.860001,94.919998,94.919998,5337000,WMT
1443,2018-09-25,95.989998,96.519997,94.989998,95.099998,95.099998,6193200,WMT

In [18]:
dji_stock_data['date'] = pd.to_datetime(dji_stock_data['Date'])
dji_stock_data['day_of_week'] = dji_stock_data['date'].dt.weekday_name
dji_stock_data_monday = dji_stock_data[dji_stock_data['day_of_week'] == 'Monday']
dji_stock_data_friday = dji_stock_data[dji_stock_data['day_of_week'] == 'Friday']